.card {
    border: solid 1px #0054e9;
    text-align: center;
    border-radius: 10px;
    margin:4px;
    padding:30px;
  }

.segment-button-checked.md::part(native) {
    background-color: #0054e9;
    color:#fff;
}
.segment{
    font-size: 10px;
    height: 41px !important;
    min-height: 23px;
}
.timetable_body{
    border: 2px solid blue;
    margin: 7px;
    padding: 5px;
    border-radius: 10px;
}
.timetable{
    border: 1px solid blue;
    margin: 2px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 60px;
}
.redline{
    background-color: red;
    height: 1px;
    width: 65%;
    margin-left: 22%;
    /* top: 415px; */
    position: absolute;
}

  
  