/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom_content_view {
  --overflow:hidden;
}

.scroll-y{
  overflow-y: hidden !important;
}

.custome_footer_ion {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.foote_wrapper{
  padding: 12px;
  min-height: 30vh;
  height: auto;
  max-height: 80px;

}

.g_text_ellipses {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  line-height: 1em;
  max-height: 1.8em;
  word-break: break-all;
}

.footer_container h6{
  font-size: 18px;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  line-height: 1em;
  max-height: 1.8em;
  word-break: break-all;
  margin-bottom: 16px;
}

.scl_info_container .left{
  width: 50%;
  padding: 12px 0;
}

.scl_info_container .left p{
  font-size: 16px;
  margin: 12px 0;
}

.scl_info_container .right p a {
  text-decoration: underline;
  color: #000000;
}

.dark .scl_info_container .right p a{
  color: #ffffff;
}

.scl_info_container .right ion-label{
  font-size: 14px;
  color: #1D7AF5;
  font-weight: bold;
}

.scl_info_container .right {
  padding: 12px 0;
  width: 50%;
}

.scl_info_container .right p{
  margin: 12px 0;
  font-size: 14px;
}

.scl_info_container .left .logo{
  width: 100px;
  height: 100px;
  border: 1px solid;
}

.poweredby_container h4{
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.dark .poweredby_container h4{
  color: #ffffff;
}

.poweredby_container .logo{
  height: 30px;
  width: 50px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 12px;
}


.tool_bar_container {
  --min-height: auto;
  padding: 4px 0;
}

.tool_bar_container ion-icon {
  font-size: 28px;
}

.ios ion-header{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

ion-header {
  background-color: #ffffff;
}

.dark ion-header {
  background-color: #000000;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.3);
}

.footer_container ion-item-divider{
  height: auto;
  min-height: auto !important;
  border: 1px solid #000000;
}

.dark .footer_container ion-item-divider{
  border: 1px solid #ffffff;
}

.footer_container ion-icon{
  font-size: 28px;
  margin-top: 14px;
}

/* dark mode css */

.dark_mode_container {
  margin-top: 20px;
  padding: 0 16px;
}

/* app header */

.header_caret ion-button{
  --color: #000000;
  --padding-end:8px;
  --padding-start:8px;
}

.dark .header_caret ion-button{
  --color: #ffffff;
}

.header_caret ion-icon{
  font-size: 28px;
}

.ios .header_caret{
  justify-content: flex-end;
}

.ios .header_schoolname{
  padding-left: 50px;
}

.header_schoolname {
  color: white;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
}

.web_scl{
  padding-left: 50px;
}

.custom_header_item {
  padding: 12px;
  --background: #1D7AF5;
  color: #ffffff;
  --inner-padding-end:8px;
}

.custom_header_item ion-icon {
  font-size: 26px !important;
  padding-right: 8px;
}

.custom_header_item ion-text{
  width: 100%;
}

.active_txt{
  color: #ff0000;
  text-decoration: underline;
}

.active_img{
  border-color: #ff0000;
}

.custom_header_item p {
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  line-height: 1em;
  max-height: 1.8em;
  word-break: break-all;
  font-size: 18px;
  margin: 0;
}


.selected_app ion-icon, .selected_app ion-label{
  color: #1D7AF5 !important;
}

.customised_menu_btns_top {
  --background: transparent;
  --color: transparent;
  position: relative;
  z-index: 999;
}

.menu_user_info{
  --inner-padding-end:0;
}

.menu_user_info div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

}

.menu_items_holder{
  height: calc(100% - 120px);
  overflow-y: auto;
}

.menu_items_holder ion-list{
  padding: 0 !important;
}

.menu_items_holder ion-list ion-item{
  cursor: pointer;
}

.ios .menu_profile_conatiner{
  height: 36px;
  width: 36px;
  top: 14px;
}

.menu_profile_conatiner {
  width: 36px;
  height: 36px;
  border: 1px solid;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  cursor: pointer;
  border-radius: 36px;
}

.menu_profile_conatiner img {
  height: 100%;
  width: 100%;
  border-radius: 36px;
}

.customised_toolbar_auth {
  margin: 8px;
  margin-bottom: 8px;
  --background: #1D7AF5;
  border-radius: 4px;
}

.customised_head_auth{
  display: flex;
  justify-content: center;
}

.ios .customised_head_auth ion-toolbar{
  height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_menu{
  border-bottom: 0.4px solid;
  cursor: pointer;
}

.profile_menu ion-item{
  --inner-border-width: 0;
  --background:transparent;
}

.menu_dark_mode_holder{
  height: 60px;
  border-top: 1px solid;
}

/* All override modules */

.dark ion-card {
  color: white !important;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.1);
}

/* menu card */

.menu_avatar {
  border: 1px solid;
  margin-top: 0px;
  max-width: 40px;
  margin-bottom: 8px;
  max-height: 40px;
}

.menu_user_name {
  margin-left: 14px;
}

.menu_user_name p {
  margin-top: 0;
  margin-bottom: 8px;
}

.custom_side_content{
  --padding-top: 12px !important;
  --padding-bottom: 12px !important;
  --overflow:hidden !important;
}

.side_menu_container{
  height: 100%;
}

.menu_user_name h3 {
  margin-top: 0px;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  line-height: 1.2em;
  max-height: 1.8em;
  word-break: break-all;
}

.font_bld {
  font-weight: bold;
}

/* Select school */

.select_school_page ion-card {
  height: 90vh;
  margin: 0;
}

.select_school_page ion-card-content {
  padding: 0;
  height: 100%;
  width: 80%;
  margin: auto;
  padding-top: 32px;
}

.container_full_select {
  height: 100%;
}

.g_app_logo_conatiner {
  height: 10%;
}

.g_app_logo {
  width: 60%;
  height: 40px;
  border: 1px solid;
}

.app_info_content {
  height: 10%;
}

.app_info_content p {
  display: flex;
  justify-content: center;
  color: #1D7AF5;
  font-size: 18px;
}

.select_holder {
  height: 66%;
  border: 1px solid;
  border-radius: 12px;
}

.school_list_show_container {
  max-height: 80%;
  overflow-y: auto;
}

.school_list_show_container ion-item {
  border-bottom: 1px solid;
  height: 40px !important;
  border-radius: 8px;
  border: 1px solid;
  width: 90%;
  margin: auto;
  margin-top: 4px;
  --inner-padding-end:8px;
  --inner-padding-start:8px;
  --padding-start:0;
}

.school_list_show_container ion-item .select_an_item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -4px;
  height: 40px;
  align-items: center;
}

.school_list_show_container ion-item .select_an_item ion-icon{
  font-size: 18px;
}

.school_list_show_container ion-item .select_an_item ion-text{
  width: 100%;
}

.school_list_show_container ion-item .select_an_item .is_icon_present{
  width: 90%;
}


.school_item_selected {
  --background: #1d7bf546 !important;
}

.school_item_selected p {
  font-weight: bold;
}

.school_list_show_container ion-item p {
  color: #1D7AF5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  line-height: 1.2em;
  max-height: 1.8em;
  word-break: break-all;
}

.school_list_show_container .first_item {
  border-top: 1px solid;
}

.select_holder ion-searchbar {
  padding: 0;
  width: 90%;
  margin: 8px auto;
  --border-radius:8px;
}

.select_btn_holder {
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select_btn_holder ion-button {
  min-height: 36px;
  height: 36px;
  width: 90%;
  margin: auto;
  --border-radius: 12px;
}



/* Student List & Staff List css */

.g_fontwht_600{
  font-weight: 600;
}

.g_height_10 {
  height: 10%;
}

.g_height45{
  height: 45px;
}

.g_flex {
  display: flex;
}

.g_flex_direction_clm {
  flex-direction: column;
}

.g_align_cntr {
  align-items: center;
}

.g_jstfy_content_cntr {
  justify-content: center;
}

.g_space_btwn {
  justify-content: space-between;
}

.g_space_around {
  justify-content: space-around;
}

.g_space_evnly {
  justify-content: space-evenly;
}

.g_txt_center {
  text-align: center;
}

.g_flex_end{
  justify-content: flex-end;
}


.g_full_width {
  width: 100%;
}

.g_full_height{
  height: 100%;
}

.g_half_width{
  width: 50%;
}

.first_container {
  width: 65%;
}

.dark .student_card {
  color: white !important;
}

.students_cards_container {
  overflow-y: auto;
  padding-bottom: 50px;
  height: calc(100% - 206px);
}

.with_filter_off {
  height: calc(100% - 82px);
}

.student_card {
  margin: 14px 10px;
  color: black;
  font-family: 'auto';
  border: 1px solid #1D7AF5;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.8s forwards;
}

.dark .student_card {
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.6);
}

.card_content {
  padding: 10px;
}

.title_name {
  font-weight: bold !important;
  color: #1D7AF5;
  cursor: pointer;
}

.user_id {
  text-align: center;
  margin-bottom: 4px;
}

.user_id_data {
  font-weight: bold;
}

.profile_item {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid;
  cursor: pointer;
}

.prifile_image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.card_btn {
  min-height: 20px;
  height: 20px;
  font-size: 10px;
  text-transform: none;
  margin-bottom: 6px;
}

.message_btn {
  margin-left: 5px;
}

.title_designation {
  width: calc(100% - 52px);
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



ion-breadcrumb {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  border-radius: 10px;
  margin: 10px 4px;
}

.dark ion-breadcrumb {
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.9);
}

.g_breadcrumbs{
  animation: slideInFromLeft 0.8s linear;
  margin: 8px 16px;
}

.g_bread{
  width: auto;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  border-radius: 8px;
  padding: 4px 8px;
  margin-right: 8px;
  line-height: 22px;
  background: #ffffff;
  cursor: pointer;
}
.g_bread_last{
  cursor: not-allowed;
}

.dark .g_bread{
  background: #000000;
}

.dark .g_bread {
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.9);
}

.g_bread p{
  font-size: 14px;
  margin: 0;
}

.separator_bread {
  margin-top: 5px;
  margin-right: 8px;
  font-size: 22px;
}

.bread_toggle_container {
  margin: 0 10px 0 0;
}



/*  */

.custom-toggle {
  position: relative;
}

.toggle-text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enabled_filter {
  left: 44%;
}

.disabled_filter {
  left: 76%;
}

ion-toggle {
  --track-background: #D9D9D9;
  --track-background-checked: #00FF00;
  --handle-background-checked: #ffffff;

  --track-height: 35px;
  --track-width: 20px;
  --track-max-width: auto;
  --handle-width: 25px;
  --handle-height: 25px;
  --handle-max-height: auto;
  --handle-box-shadow: none;
  --handle-spacing: 3px;
}

ion-toggle::part(track) {
  height: 30px;
  width: 60px;
  overflow: visible;
}

.filter_container {
  height: auto;
}

.filter-card {
  animation: slideIn 0.5s forwards;
  margin: 2px 12px;
}

.filter_card_content {
  padding: 8px;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

ion-breadcrumbs {
  margin-left: 10px;
  animation: slideInFromLeft 0.8s linear;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Select custome */

.select_conatainer {
  width: 100%;
}


.custome_select {
  --padding-start: 10px;
  --padding-end: 8px;
  --border-radius: 12px;
  font-size: 14px;
  max-width: 100%;
  height: 45px;
  min-height: 36px !important;
  --border-radius:8px;
}

.ios .custome_select {
  border: 1px solid;
  border-radius: 12px;
}

.custome_select::part(icon) {
  color: #000000;
  opacity: 1;
  width: 20px;
}

.dark .custome_select::part(icon) {
  color: #ffffff;
}


/* Attendance css */

.custome_attendance_card {
  height: auto;
  animation: slideIn 0.8s forwards;
  margin: 0 12px 8px 12px;
}

.custome_attendance_card2 {
  height: auto;
  animation: slideIn 0.8s forwards;
  margin: 8px 12px;
  max-height: 14vh;
}

.custome__card_attendance_container {
  padding: 8px 0;
}

.icons_holder_attendance ion-icon {
  font-size: 24px !important;
  cursor: pointer;
}

.list_viwe_icon {
  font-size: 28px;
  margin-right: 12px;
  cursor: pointer;
}

.grdi_view_icon {
  font-size: 20px;
  margin-bottom: 4px;
  cursor: pointer;
}

.selected {
  color: #1D7AF5;
}

.month_year_view {
  width: 40%;
  cursor: text;
}

.dark .month_year {
  color: white;
}

.month_year {
  color: black;
  font-size: 14px !important;
  margin: 0 !important;
  font-weight: bold !important;
}

.calendar_label_view {
  font-size: 16px;
  font-weight: bold;
  color: #1D7AF5;
}

.attendance {
  height: 100%;
}

.attendance_container_items {
  height: auto;
  overflow-y: auto;
  padding-bottom: 60px;
  height: calc(100% - 180px);
}

.attendance_container_items ion-icon {
  font-size: 24px !important;
}

.attendance_ion_item {
  animation: slideIn 0.8s forwards;
  --inner-padding-end: 0;
  --padding-start: 0;
  --padding-end: 0;
  width: 92%;
  margin-left: 4%;
}

.row_item_quater {
  width: 25%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.large_text {
  font-size: 18px;
}


.success {
  color: #00FF00;
}

.absent_recorded {
  color: #FF0000;
}

.attendance_not_recorded {
  color: orange;
}

.summery_attendance_show {
  animation: slideIn 0.8s forwards;
  position: absolute;
  bottom: 50px;
  z-index: 1;
  border: 1px solid;
  margin: 0;
  width: 92%;
  margin-left: 4%;
}

.summery_attendance_show ion-card-content {
  padding: 0 !important;
}

.summery_text_show {
  width: 20%;
  text-align: center;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  --padding-start: 0;
}

.summery_ion_text {
  width: 100%;
}

.summery_icons_container {
  width: 40%;
}

.summery_icons_container ion-icon {
  font-size: 28px;
  cursor: pointer;
}

/* grid view */

.day_list_map {
  width: 14%;
  padding: 0;
  --padding-start: 0;
  --inneer-border--width: 0;
  --inner-padding-end: 0;
  border: 1px solid;
  margin-right: 2px;
}

.day_list_map ion-text {
  font-size: 14px;
}

.day_list_map ion-icon {
  font-size: 22px;
}

.empty_item_day {
  border-color: gray;
}

.holiday_day_calendar {
  border-color: #FF0000;
}

.defaut_attendance_taken {
  border-color: #1D7AF5;
}

.non_taked_atendance {
  border-color: orange;
}

.update_ion_item {
  height: 12vh;
  display: flex;
  flex-direction: column;

}


.custome_card_content_day_view {
  padding: 0 8px;
}

.custome_card_content_day_view ion-item {
  height: 44px;
  display: flex;
  align-items: center;
}

.custome_card_content_day_view2 {
  padding: 8px;
}

.ion_text_day_view {
  width: 100%;
  font-weight: bold;
  font-size: 16px;

}

.chip_item_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  width: 100%;
  padding: 8px 0;
}

.g_small_text {
  font-size: 10px !important;
}

.danger {
  color: #FF0000;
}

.special_today_item {
  color: #1D7AF5;
}


.two_lines_ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.g_homework_wrap{
  height: calc(100% - 90px);
}


.add_event_input {
  border: 1px solid;
  border-radius: 8px;
  padding: 0 12px !important;
  --background:transparent !important;
}

.date_time_select_item {
  --inner-padding-end: 0;
  --padding-start: 8px;
  margin-bottom: 12px;
}

.custom_modal_item {
  --inner-padding-end: 0;
  --padding-start: 0;
  margin-bottom: 12px;
  padding-top: 2px;
  --background:transparent;
}

.cutsome_textarea {
  border: 1px solid;
  border-radius: 8px;
  padding: 0 8px;
}


.custome_date_time_modal {
  background: rgba(0, 0, 0, 0.5);
}

.view_card_item {
  margin: 12px;
  background: #ffffff;
}

.dark .view_card_item {
  color: white !important;
  background: #000000;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.2);
}


/* ion modal */

.dark ion-modal {
  --ion-backdrop-color: #fff;
}

.g_customised_modal {
  --height: fit-content;
  --width: 90%;
  --border-radius: 8px;
  --max-height: 80%;
}

.gmodal-btn {
  font-size: 12px;
  font-weight: bold;
  width: 38%;
  height: 30px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

.gmodal-cancel {
  --background: #ffffff;
  --color: #1D7AF5;
  --ion-toolbar-background: none;
  --border-color: #1D7AF5;
  --border-style: solid;
  --border-width: 1px;
  --background-hover: #1d7bf546;
  --background-activated: #1d7bf546;
  --background-focused: #1d7bf546;
  opacity: 1;

}

.gmodal-save {
  --ion-toolbar-background: none;
}


/* Subjects */

.subjects{
  height: calc(100% - 42px);
}

.subjects .custom_sub_item {
  --background:transparent;
  --inner-border-width:0;
}

.subjects_cls_container {
  height: calc(100% - 100px);
  overflow-y: auto;
}

.subjects_cls_container ion-list{
  padding-bottom: 30px;
}

.subjects_cls_container ion-card {
  margin: 12px;
}

.subjects_cls_select {
  margin-right: 12px;
}

.subject_item_card_content {
  padding: 8px 0;
}


.subject_text_name {
  width: 36%;
}

.subject_text_name h3 {
  font-weight: bold;
  font-size: 16px;
}

.progress_container {
  width: 50%;
}

.subject_item_card_content ion-item {
  height: 40px;
  --inner-border-width: 0;
}

.subject_item_card_content ion-icon {
  font-size: 22px;
  cursor: pointer;
}

.subject_selected_icon {
  color: #ffd700;
}

.subject_item_card_content a {
  color: #1D7AF5;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

/* progress bar */

.progress_bar {
  background-color: #D9D9D9;
  border-radius: 8px;
  height: 10px;
  width: 100%;
  position: relative;
}

.bar {
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.full_progress_inner {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.custom-ion-input {
  min-height: 41px !important;
  /* border: 1px solid; */
  border-radius: 8px;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
}

.ios .custom-ion-input{
  border: 1px solid;
}

.custom-ion-input-wrapper{
  margin: 12px 0;
}

.custom_user_list{
  background: transparent;
}

.custom-ion-input .label-text-wrapper.sc-ion-input-md {
  margin-top: -8px;
}

.custom-ion-input .input-fill-outline.sc-ion-input-md-h {
  min-height: 40px !important;
}

.d-flex-jc-center {
  display: flex;
  justify-content: center;
  height: 30%;
}

.profile-card {
  border: 1px solid rgb(216, 227, 235);
  width: 90%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  justify-content: center;
}

.profile-card .icon_full_expand {
  text-align: end;
  position: relative;
  top: -6px;
  height: 0px;
  display: flex;
  justify-content: end;
  width: 100%;
  padding-right: 2px;
}

.icon_pencil_user{
  top: -90% !important;
}

.profile-card .icon_full_expand ion-icon{
  font-size: 24px;
  margin: 0 4px;
  color: #000000;
}

.dark .profile-card .icon_full_expand ion-icon{
  color: #ffffff;
}

.profile-card img {
  border-radius: 8px;
  @media (min-width: 768px) {
   width: 50%;
  }
}

.profile-name {
  font-size: 1.5rem;
  color: #1D7AF5;
}

.display-data {
  height: calc(66% - 50px);
  overflow: auto;
  padding-bottom: 48px;
}

.display-data-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2% 5%;
}

.display-data-key {
  width: 43%;
  font-weight: bold;
  font-size: 14px;
}

.display-data-value {
  background-color: #ffffff;
  width: 57%;
  border: 1px solid rgb(29, 122, 245);
  padding: 2%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px;
  color: rgb(29, 122, 245);
}

.dark .display-data-value {
  background-color: #000000;
}

.bottom-button {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 6%;
}

.bottom-button{
  color: #ffffff;
}

.button-text {
  width: 80%;
  font-weight: bold;
  height: 40px;
  text-transform: none;
}

/* Exam Schedule */

.exam_schedule{
  height: calc(100% - 36px);
}

.exam_schedule ion-label{
  color: #1D7AF5 !important;
}

.exam_schedule .exam-time-table .date_item{
  width: 100%;
  text-align: center;
  border-radius: 8px;
  --min-height:30px;
}

.exam_schedule .exam-time-table .date_item p{
  margin: 0;
  font-size: 14px;
}

.unit_test_table{
  margin-bottom: 18px;
}

.unit_test_table .row{
  height: 40px;
  margin: 0 8px;
  border-bottom: 0.6px solid;
  border-color:#93c0fc;
}

.unit_test_table .row_body{
  background-color: #ffffff;
  font-size: 12px;
}

.unit_test_table .row_head{
  background-color: #F5F5F5;
  font-size: 14px;
}

.dark .unit_test_table .row_body{
  background-color: #000000;
}

.dark .unit_test_table .row_head{
  background-color: #505050;
}


.unit_test_table .row .cell{
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit_test_table .row .bordered_cell{
  border-right: 1px solid;
  border-left: 1px solid;
}

.user_ack_text{
  margin-bottom: 18px;
}

.user_ack_text p{
  margin: 0;
  text-align: left;
}

.user_ack_text ion-icon{
  font-size: 22px;
  margin-left: 10px;
  color: orange !important;
}

.user_ack_text .ack_desc{
  width: calc(100% - 36px);
}





/* Documents Section */
.exam_schedule ion-accordion-group,
.documents ion-accordion-group {
  width: 90%;
  margin: auto;
  text-align: center;
}

.documents, .exam_schedule{
  animation: slideIn 0.8s forwards;
  height: calc(100% - 100px);
  overflow-y: auto;
}

.exam_schedule ion-accordion,
.documents ion-accordion {
  border: 1px solid;
  border-color: #1D7AF5;
}

.exam_schedule ion-item,
.documents ion-item {
  border: 1px solid;
  border-color: #1D7AF5;
  margin: 8px;
  --padding-start: 8px;
  --inner-padding-end: 12px;
}

.exam_schedule ion-icon,
.documents ion-icon {
  color: #1D7AF5;
}

.doc_preview_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  line-height: 1.2em;
  max-height: 2.4em;
  font-weight: 600;
  color: #1D7AF5;
  margin-left: 6px;
}

.exam_schedule ion-label,
.documents ion-label {
  margin-left: 8px;
  font-weight: bold;
}

.document_inner_content ion-label {
  font-weight: normal !important;
}

.ion-accordion-toggle-icon {
  color: #000000 !important;
}

.document_inner_content {
  padding: 0;
}

.document_inner_content ion-item {
  border-radius: 8px;
}

.document_inner_content ion-item a {
  cursor: pointer;
}

.inside-container-block {
  max-height: 30vh;
  overflow-y: auto;
}

.documents_file_item {
  width: 90%;
  margin-left: 5% !important;
}

.dark .documents_file_item{
  --background:#000000;
}

.add_documents_btn {
  position: absolute;
  bottom: 44px;
  z-index: 1;
  right: 12px;
}

/* Document & Image Preview */

.g_customised_image_doc_preview {
  --height: 90vh;
  --width: 95%;
  --border-radius: 8px;
  --max-height: 90%;
}

.g_customised_image_doc_preview ion-card-content{
  overflow-y: auto;
  height: 100%;
}

.g_customised_image_doc_preview ion-card-content ion-img{
  height: 100%;
}


.close-btn_modal {
  width: 80%;
}

.g_customised_image_doc_preview ion-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

.g_customised_image_doc_preview ion-toolbar {
  padding: 4px;
}

.g_customised_image_doc_preview ion-toolbar ion-icon,
.g_customised_image_doc_preview ion-toolbar ion-label {
  cursor: pointer;
}

/* Progress card */

.progress_card ion-card {
  margin: 4px 16px;
}

.progress_card {
  height: auto;
  max-height: 82vh;
  overflow-y: auto;
  padding-bottom: 30px;
}

.progerss_student_content {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  justify-content: center;
}

.progerss_student_content ion-item {
  animation: slideIn 0.8s forwards;
}

.progress_card ion-item {
  width: 46%;
  --inner-border-width: 0;
  --padding-start: 8px;
  --padding-end: 0px;
  --inner-padding-end: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding-bottom: 4px;
  margin: 4px;
  --background:#ffffff;
}

.dark .progress_card ion-item {
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.1);
  --background:#000;
}

.breadcrumbs_progress {
  margin: 0 16px 0 0;
}

.progress_card ion-item p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  line-height: 1.2em;
  max-height: 1.8em;
  font-weight: 600;
  color: #1D7AF5;
}

.student_info_item {
  flex-direction: column;
}

.student_info_item span {
  font-size: 12px;
}

.student_info_item h5 {
  font-weight: 600;
}

.tabs_container_custom {
  width: 92%;
  margin: auto;
  height: 46px;
}

.tabs_progress_card {
  width: 82%;
  overflow-x: auto;
}

.tabs_progress_card ion-segment {
  animation: slideIn 0.8s forwards;
}

.ion-segment-scroll-container {
  overflow-x: auto;
  white-space: nowrap;
}

.progress_icons_container {
  width: 18%;
  margin: 4px 8px 4px 12px;
}

.progress_icons_container .list_viwe_icon {
  font-size: 28px;
  cursor: pointer;
}

.progress_icons_container .grdi_view_icon {
  font-size: 22px;
  margin-bottom: 0 !important;
  cursor: pointer;
}

.g_custom_tabs {
  margin-top: 10px;
  display: flex;
  animation: slideInFromLeft 0.8s linear;
}

.g_custom_tabs button {
  background-color: white;
  color: #000000;
  border-right: 2px solid;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 14px;
  margin-right: 10px;
  width: fit-content;
  max-width: 200px;
  min-width: 100px;
}

.selected_segment_btn {
  border-bottom: 2px solid;
  border-bottom-color: #1D7AF5;
  color: #1D7AF5 !important;
  font-weight: 600;
}

.progress_marks_view {
  padding: 12px;
}

.progress_marks_view ion-toolbar {
  --min-height: 36px
}

.progress_marks_view ion-title {
  font-size: 18px;
}

.cell_marks {
  border-color: #000000 !important;
  height: 40px;
}

.dark .cell_marks {
  border-color: #ffffff !important;
}

.breadcrumb-native {
  padding: 0;
}

.marks_colum {
  border-bottom: 1px solid;
  border-bottom-color: #1d7bf561;
}

.list_mark_view_container {
  font-size: 0.8rem;
  background: #ffffff;
  padding: 12px 0;
}

.dark .list_mark_view_container {
  background: #000000;
}

.marks_column_header {
  background-color: #F5F5F5;
}

.dark .marks_column_header {
  background-color: #505050;
}

.grand_marks {
  width: 40%;
}

.exam_rank {
  width: 40%;
}

.mark_rank_container {
  padding: 0 12px;
}

.marks_all_container {
  padding: 8px 12px;
  width: 100%;
  display: flex;
}

.horizontal_marks_container {
  width: 75%;
  max-width: 75%;
  overflow-x: auto;
}


/* staff css over ride */

.class_list_show {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  line-height: 1.2em;
  max-height: 1.8em;
  font-weight: 600;
  color: #1D7AF5;
}

.staff .first_container {
  width: 55%;
  padding-right: 8px;
}

.ios .custom-ion-input_home {
  border: 1px solid;
  border-radius: 8px;
}

.custom-ion-input_home {
  margin-top: 4px;
  min-height: 50px !important;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
}


label.input-wrapper.sc-ion-input-ios {
  position: relative;
  top: -5px;
}


/* Home Pre Login Screen */

.home{
  height:calc(100% - 32px);
  text-align: center;
}

.home .logo{
  height: 50px;
  width: 40%;
  margin: auto;
  margin-bottom: 12px;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .home .logo{
  background: #333333;
}

.home ion-item {
  margin: 12px 0;
  --inner-border-width: 0;

}

.home ion-card-content {
  padding: 0;
  padding-top: 12px;
}

.home ion-card {
  margin: 16px;
}

.home ion-card ion-button {
  width: 100%;
  height: 40px;
  --border-radius: 12px;
  font-size: 16px;
  margin-top: 6px;
}

.home .location_cntl{
  display: flex;
  position: absolute;
  bottom: 50px;
  height: 50px;
  margin: auto;
  justify-content: center;
  width: 100%;
  padding: 0 12px;
}

.location_cntl .location{
  width: 100%;
  background-color: #d9d9d9;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .location_cntl .location{
  background: #333333;
}

.location_cntl ion-icon{
  position: absolute;
  right: 24px;
  font-size: 26px;
  top: 12px;
}

.pre_login_btns{
  max-height: 44%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.pre_login_btns .chip_btn{
  width: 33%;
  height: 110px;
}

.chip_btn ion-button{
  height: 80%;
  width: 80%;
  --background:transparent;
  background: #ffffff;
  border: 1px solid;
  border-color: #1D7AF5;
  color: #000000;
  --background-activated: #d6d6d6;
  --background-focused: #d6d6d6;
  --background-hover: #d6d6d6;
  margin: 0;
  border-radius: 8px;
  --border-radius:8px;
}

.dark .chip_btn ion-button{
  color: #ffffff;
  --background-activated: #3b3b3b;
  --background-focused: #3b3b3b;
  --background-hover: #3b3b3b;
  background: #000000;
}


.chip_btn ion-button ion-icon{
  font-size: 28px;
}

.chip_btn ion-button div{
  width: 100%;
}

.chip_btn ion-button p {
  margin: 0;
  width: 100%;
  margin-top: 8px;
  font-size: 12px;
}

/* About CSS */

.prelogin_container{
  height: calc(100% - 40px);
}

.actual_content{
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 0 12px;
}

.prelogin_head{
  background-color: #d9d9d9;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark .prelogin_head {
  background-color: #2d2d2d;
}

.back_btns_holder{
  width: 100%;
  padding: 6px 12px 6px 6px;
  align-items: center;
  display: flex;
}

.back_btns_holder .btns_scroll{
  width: 100%;
  overflow-x: auto;
  display: flex;
  margin-left: 6px;
}

.back_btns_holder .btns_scroll ion-button{
  min-height: 30px;
  height: 30px;
  --background:#ffffff;
  color: #000000;
  padding-left: 3px;
  padding-right: 3px;
  --background-hover: #a7caf8;
  --background-activated: #a7caf8;
  --background-focused: #a7caf8;
}

.back_btns_holder .btns_scroll .selected{
  color: #1D7AF5;
  font-weight: bold;
}

.back_btns_holder ion-icon{
  font-size: 26px;
  margin: 0 8px;
}

.banner_img{
  width: 100%;
  height: 200px;
  background: #D9D9D9;
}

.dark .banner_img {
  background: #3b3b3b;
}

.about_container{
  margin-bottom: 100px;
}

.about_container ion-text h5{
  color: #1D7AF5;
  font-weight: bold;
  font-size: 16px;
}

.about_container ion-text p{
  font-size: 14px;
}


/* courses css */

.courses_page ion-text p{
  color: #1D7AF5;
  font-weight: bold;
}

.course_row{
  width: 100%;
  height: 46px;
  display: flex;
}

.custom_head_courses{
  background-color: #F5F5F5;
}

.dark .custom_head_courses{
  background-color: #3b3b3b;
}

.course_col_head{
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course_row ion-icon{
  font-size: 26px;
}

.course_row .available_course{
  color: #00FF00;
}

.course_row .unavailable_course{
  color: #FF0000;
}

.pre_footer{
  display: flex;
  position: absolute;
  bottom: 50px;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.pre_footer ion-button {
  border: 1px solid;
  border-color: #1D7AF5;
  height: 40px;
  width: 80%;
  border-radius: 12px;
  --border-radius:12px;
  --background:white;
  background-color: transparent;
  color: #1D7AF5;
  font-size: 18px;
}


/* Contact us page */
.contact_field {
  margin: 12px 0;
}

.contact_field ion-textarea{
  min-height: 100px !important;
  border: 0.55px solid;
  --padding-start: 8px;
    --padding-end: 8px;
    border-radius:8px;
}

.principal{
  width: 100%;
  display: flex;
  justify-content: center;
}

.principal_contact{
  width: 100%;
  border: 1px solid;
  border-color: #1D7AF5;
  min-height: 100px;
  margin: 10px;
  padding: 12px;
}

.principal_contact .profile_img{
  width: 40px;
  height: 60px;
  display: flex;
  align-items: center;
}

.principal_contact .profile_img img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.principal_contact .name_designation{
  margin-left: 10px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(100% - 60px);
}

.principal_contact .name_designation h4{
  margin: 0 0 2px 0;
  color: #1D7AF5;
  font-weight: 600;
  font-size: 14px;
}


.principal_contact .name_designation p{
  margin: 0 0 2px 0;
  font-size: 14px;
}

.contact_me {
  margin-top: 12px;
}

.contact_me .left{
  display: flex;
  align-items: center;
}

.contact_me ion-text a{
  width: 100%;
  color: #000000;
}

.dark .contact_me ion-text a{
  color: #ffffff;
}

.contact_me .left ion-icon{
  font-size: 26px;
  color: #1D7AF5;
  margin: 0 6px;
}

.contact_me .right ion-icon{
  font-size: 20px;
  color: #1D7AF5;
  margin-right: 12px;
}

.loc_design{
  margin-top: 12px;

}

.loc_design .left{
  width: 50%;
  border-right: 1px solid;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.loc_design ion-icon{
  font-size: 26px;
  margin-right: 8px;
  color: #1D7AF5;
}

.loc_design .right{
  width: 50%;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.loc_design p{
  margin: 6px;
}

.contact_location ion-text h5{
  font-size: 16px;
  color: #1D7AF5;
  font-weight: 600;
}

.contact_location .location_map{
 width: 100%;
 height: 210px;
 background: #D9D9D9;
 border: 1px solid;
 border-color: #1D7AF5;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.dark .contact_location .location_map{
  background: #333333;
}

.contact_location .location_map .full_view{
  position: absolute;
  bottom: 10px;
  right: 16px;
}

.contact_location .location_map .full_view ion-icon{
  font-size: 28px;
}

.contact_address ion-text h5{
  font-size: 16px;
  color: #1D7AF5;
  font-weight: 600;
}

.contact_address ion-text p{
  font-size: 14px;
}

.contact_address .full_add{
  padding: 0 12px 12px 12px;
}

.contact_mbl_eml{
  min-height: 100px;
  border: 1px solid;
  border-color: #1D7AF5;
  padding: 12px;
  margin: 12px;
}

.contact_mbl_eml ion-text h6{
  font-weight: 600;
  color: #1D7AF5;
  font-size: 14px;
}

.contact_mbl_eml ion-text p{
  font-size: 14px;
}

.contact_mbl_eml ion-text a{
  font-size: 14px;
  text-decoration: underline;
  color: #000000;
}

.dark .contact_mbl_eml ion-text a{
  color: #ffffff;
}


/* gallery */

.gallery{
  margin-bottom: 100px;
}

.scl_imgs{
  margin: 12px 0;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
  border: 1px solid;
  border-color: #1D7AF5;
  border-radius: 4px;
  justify-content: space-around;
  align-items: center;
}

.title_gallery h4{
  color: #1D7AF5;
}

.scl_imgs .img_item{
  width: 48%;
  background-color: #d4d4d4;
  height: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .scl_imgs .img_item {
  background-color: #4b4b4b;
}

.dark .scl_imgs .img_item{
  background-color: #606060;
}

.cls_sec_year_images .no_imgs{
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_imgs ion-text{
  text-align: center;
}

.no_imgs h1{
  color: #FF0000;
}

.cls_imgs_container{
  position: relative;
  margin-top: 16px;
  background-color: #d4d4d4;
  width: 100%;
  height: 310px;
}

.cls_imgs_container .actual_image{
  height: 100%;
}

.dark .cls_imgs_container{
  background-color: #4b4b4b;
}

.dots_imgs{
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.dots_imgs .dot{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid;
  margin: 0 3px;
}

.dots_imgs .selected_dot{
  background-color: #000000;
}

.dark .dots_imgs .selected_dot{
  background-color: #ffffff;
}

.img_title_ex{
  position: absolute;
  top: 12px;
  width: 100%;
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
}

.img_left_right{
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
}

.img_title_ex h4{
  margin: 0;
}

.img_title_ex ion-icon{
  font-size: 28px;
}

.img_left_right ion-icon{
  font-size: 28px;
}

/* Ex circular */

.ex_circular ion-card{
  margin: 12px 0;
}

.ex_circular ion-card-content{
  padding: 12px;
}

.ex_circular ion-card ion-text h1{
  color: #1D7AF5;
  font-size: 16px;
  font-weight: 600;
}

.ex_circular .eve_list{
  max-height: 90%;
  overflow-y: auto;
}

.ex_circular .event_desc{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.ex_circular ion-card ion-button{
  --border-radius: 8px;
    --background: white;
    color: black;
    --border: 1px solid #1D7AF5;
    border: 1px solid #1D7AF5;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 6px;
    height: 30px;
    min-height: 20px;
}

.ex_circular .dates_eves{
  margin-top: 12px;
  margin-bottom: 6px;
}

/* Achievements */

.achievements{
  margin-top: 16px;
}

.achievements ion-accordion{
  border: 1px solid;
  border-color: #1D7AF5;
}

.achieve_doc{
  padding: 0 16px;
}

.achieve_table_data{
  margin-top: 20px;
  margin-bottom: 20px;
}

.achieve_table_data .row{
  height: 60px;
  border: 1px solid;
  border-bottom: none;
  display: flex;
}

.achieve_table_data .last_row{
  border-bottom: 1px solid;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.achieve_table_data .first_row{
  background: #d9d9d9;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.dark .achieve_table_data .first_row{
  background: #1a1a1a;
}

.achieve_table_data .col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid;
  padding: 4px;
}

.achieve_table_data .col ion-text{
  width: 100%;
  font-size: 12px;
}

.achieve_no_data {
  --background: transparent;
}

/* messages */


.messages{
  height: 100%;
}

.messages .toggle_io{
  margin: 8px 16px;
}

.messages .select_chat{
  height: calc(100% - 84px);
  width: 100%;
}

.messages .select_chat .filter_chat ion-card{
  margin: 8px 16px;
}

.messages .select_chat .filter_chat ion-card ion-card-content{
  padding: 8px 16px;
}

.messages .select_chat .filter_chat ion-searchbar{
  padding: 8px 0 0 0;
  min-height: 30px;

}

.messages .select_chat .chat_list{
  padding: 0 16px;
  height: calc(100% - 118px);
  overflow-y: auto;
}


.messages .select_chat .filter_chat ion-button{
  min-height: 30px;
  height: 36px;
  margin: 0;
}

.messages .select_chat .chat_list .profile{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.messages .select_chat .chat_list .name_last_msg{
  margin-left: 12px;
  width: calc(100% - 40px);
}

.messages .select_chat .chat_list  .title_chat{
  width: 80%;
}

.messages .select_chat .chat_list .name_last_msg p{
  margin: 6px 0 0 0;
  font-size: 14px;
}

.messages .select_chat .chat_list .name_last_msg .time_stamp{
  margin: 0;
  font-size: 10px;
  min-width: 20%;
}

.messages .select_chat .chat_list .name_last_msg h2{
  margin: 0;
  font-size: 16px;

}

.messages .select_chat .chat_list ion-item{
  --padding-start: 8px;
  --inner-padding-end:8px;
  --inner-border-width: 0;
  height: 60px;
  --min-height: 60px;
  margin-top: 10px;
  border: 1px solid;
  border-color: #1D7AF5;
  border-radius: 4px;
  cursor: pointer;
}

.messages .select_chat .chat_list .profile img{
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.chat_list .no_msgs_users{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_msgs_users ion-icon{
  font-size: 50px;
}



/* Chat Screen */

.chat_screen{
  height: calc(100% - 40px);
}

.chat_container{
  height: calc(100% - 12px);
}

.chat_container ion-card-content{
  padding: 0;
  height: 100%;
}

.chat_container ion-card{
  margin: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: calc(100% - 10px);
}

.chat_container ion-card ion-toolbar{
  --background:#F5F5F5;
  height: 50px;
}

.dark .chat_container ion-card ion-toolbar{
  --background:#333333;
}

.chat_container .custom_chat_tool{
  padding-left: 8px;
  height: 100%;
  align-items: center;
  width: 100%;
}

.chat_container .custom_chat_tool .text_img{
  width: calc(100% - 66px);
}

.chat_container .custom_chat_tool ion-icon{
  font-size: 32px;
  cursor: pointer;
}

.chat_container .custom_chat_tool .three_dots_chat{
  font-size: 28px;
}

.popover_actions ion-icon {
  font-size: 22px;
  margin-right: 8px;
}

.custom-popover {
  --min-width: 300px;
  --max-width: 400px;
}

.popover_actions ion-label{
  font-size: 12px;
}

.popover_actions ion-item{
  --inner-padding-end: 8px;
  --padding-start: 8px;
  --inner-border-width:0;
  border-bottom: 1px solid;
  border-color:#006eff;
  --color:#000000;
}

.popover_actions ion-item ion-label{
  --color:#000000;
}

.popover_actions .first_action_item{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.popover_actions .last_action_item{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chat_container .custom_chat_tool .chat_profile_icon{
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid;
  margin-left: 4px;
}

.chat_container .custom_chat_tool .chat_profile_icon img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat_container .msgs_holder{
  height: calc(100% - 50px);
}

.chat_container .custom_chat_tool .name_designation{
  padding: 0 12px;
  width: calc(100% - 40px);
}

.chat_container .custom_chat_tool .name_designation ion-text{
  width: 100%;
}

.chat_container .custom_chat_tool .name_designation ion-text h2{
  color: #1D7AF5;
  font-weight: 600;
}

.msgs_holder .type_msg{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 12px 10px 12px;
  height: 60px;
  background:#F5F5F5;
}

.msgs_holder .type_msg form{
  height: 100%;
}

.dark .msgs_holder .type_msg {
  background: #333333;
}

.msgs_holder .type_msg .send_icon{
  position: absolute;
  height: 30px;
  top: 18px;
  right: 22px;
}

.msgs_holder .type_msg .send_icon button{
  background: transparent;
}

.msgs_holder .type_msg .send_icon ion-icon{
  font-size: 24px;
  color: #1D7AF5;
}


.msgs_holder .type_msg input{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid;
  border-color: #1D7AF5;
  color: #1D7AF5;
  padding: 0 46px 0 12px;
  font-size: 14px;
  background: #ffffff !important;
}

.dark .msgs_holder .type_msg input{
  background: #000000 !important;
}

.msgs_holder .type_msg input:focus {
  border-color: #006eff;
  outline: none;
}

.msgs_holder .type_msg input::placeholder {
  color: #1D7AF5;
}

.msgs_holder .msgs_scroll{
  height: calc(100% - 60px);
  overflow-y: auto;
  margin: 10px;
  padding-bottom: 30px;
}

.msgs_scroll .txt_msg_receive_sent {
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.msgs_scroll .received{
  justify-content: flex-start;
}

.msgs_scroll .sent{
  justify-content: flex-end;
}

.msgs_scroll .msg_blk{
  border: 1px solid;
  width: fit-content;
  border-color: #1D7AF5;
  border-radius: 8px;
  min-height: 40px;
  max-width: 60%;
  padding: 8px 12px 4px 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dark .msgs_scroll .msg_blk{
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.3);
}

.msgs_scroll .msg_blk ion-text p{
  font-size: 16px;
  line-height: 1rem;
  padding: 0;
}

.msgs_scroll .msg_blk span{
  font-size: 12px;
  line-height: 1rem;
}

.msg_blk .time_msg{
  text-align: end;
  line-height: 0.5rem;
}
.msg_blk .custom_time_msg {
  display: flex;
  align-items: end;
  margin-left: 10px;
}

.msgs_scroll .no_msgs_screen{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_msgs_screen ion-icon{
  font-size: 50px;
}

/* School wibe */

.scl_wibe {
  height: calc(100% - 40px);
}

.scl_wibe .toggle_io{
  margin: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.scl_wibe .custom_msg_card {
  animation: slideInFromLeft 0.8s linear;
  margin: 0 12px 8px 12px;
}

.custom_msg_card ion-searchbar{
  padding: 0;
  width: 96%;
}

.date_select_wibe{
  height: 40px;
  width: 96%;
  border-radius: 8px;
}

.dark .date_select_wibe{
  background: #2f2f2f;
}

.date_wibe_container{
  display: flex;
  justify-content: flex-end;
}

.scl_wibe .custom_msg_content{
  padding: 8px;
}

.scl_wibe .custom_sub_item {
  --background:transparent;
  --inner-border-width:0;
}

.custom_sub_item .first_select{
  padding-right: 2%;
}

.custom_sub_item .second_select{
  padding-left: 2%;
}

.wibe_posts ion-card-content{
  padding: 0;
}

.wibe_posts .header_post{
  background: #F5F5F5;
  padding: 8px;
}

.dark .wibe_posts .header_post {
  background-color: #3d3d3d;
}

.filter_enable_posts{
  height: calc(100% - 174px);
}

.wibe_posts {
  overflow-y: auto;
  background: #ffffff;
}

.dark .wibe_posts{
  background-color: #000000;
}

.filter_disabled_posts{
  height: calc(100% - 46px);
}

.wibe_posts .profile_name{
  display: flex;
  align-items: center;
  height: 100%;
  width: calc(100% - 54px);
}

.wibe_posts .wibe_profile{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid;
}

.wibe_posts .wibe_profile img {
  width: 100%;
  height: 100%;
  border-radius: 36px;
}

.wibe_posts .post_title_wrap{
  padding-left: 12px;
  width: calc(100% - 40px);
}

.post_title_wrap h4{
  font-size: 16px;
}

.post_title_wrap p{
  font-size: 12px;
}

.posted_on_time p{
  font-size: 10px;
  text-align: center;
}

.content_post{
  min-height: 100px;
  padding: 12px;
}

.content_post h2{
  margin-bottom: 8px;
  color: #1D7AF5;
  font-size: 16px;
  font-weight: bold;
}

.content_post p{
  font-size: 14px;
  font-weight: 400;
}

.content_post img {
  min-height: 235px;
  width: 100%;
}


.footer_post{
  padding: 4px 30px;
  background: #F5F5F5;
}

.dark .footer_post {
  background: #3d3d3d;
}

.footer_post ion-icon {
  font-size: 24px;
}

.footer_post p{
  font-size: 10px;
  line-height: 10px;
}

/* user page */

.user_page{
  overflow: hidden;
  height: 100%;
}

/* Home work */

.home_work{
  margin: 8px;
  border: 1px solid;
  height: calc(100% - 92px);
  border-radius: 8px;
  border-color: #1D7AF5;
  padding: 8px;
}

.custom_homework_date{
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid;
  background: transparent;
}

.ios .home_work{
  height: calc(100% - 97px);
}

.home_work ion-searchbar{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 12px;
}

.home_work_container{
  margin-top: 12px;
  height: calc(100% - 124px);
  overflow-y: auto;
}

.home_work_container ion-card{
  margin: 12px 0;
}

.home_work_container ion-card-content{
  padding: 12px;
}

.home_work_container .home_task_title{
  width: 120%;
}

.home_work_container .time_title{
  margin-bottom: 12px;
}

.home_work_container .home_task_title h2{
  color: #1D7AF5;
  font-size: 16px;
}

.home_work_container .home_task_time span{
  font-size: 10px;
}

.home_work_container .home_task_time ion-text{
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.three_line_ellipse{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.home_work_container .home_task_desc {
  margin-bottom: 12px;
}

.home_attachments{
  min-height: 200px;
}

.home_attachments .no_attachments{
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_attachments .no_attachments ion-icon{
  font-size: 32px;
  margin-bottom: 12px;
}

.text_show_more{
  margin-top: 12px;
}

.text_show_more ion-text p{
  font-size: 12px;
}

.text_show_more ion-text a{
  font-size: 10px;
  text-decoration: underline;
  color: #1D7AF5;
}

.attach_icon_home ion-icon{
  color: #1D7AF5;
  font-size: 28px;
}

.attach_icon_home ion-text h4{
  font-weight: 500;
  font-size: 14px;
  color: #1D7AF5;
}

/* Fees Dues */

.fees_due{
  height: 100%;
}

.fees_year_select{
  margin: 12px 0;
  width: 60%;
}

.fees_card_holder{
  height: calc(100% - 160px);
  overflow-y: auto;
}

.fees_card_holder ion-card {
  margin-top: 0;
}

.fees_card_holder ion-card-content{
  padding:8px;
}

.fees_card_holder ion-card .selected_year_show{
  height: 40px;
  border: 1px solid;
  border-color: #1D7AF5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  border-radius: 8px;
  margin: 8px 0 12px 0;
}

.selected_year_show p{
  font-weight: 600;
  font-size: 14px;
}

.fees_card_holder .student_info ion-label{
  font-size: 14px;
  font-weight: 400;
}

.fees_card_holder .student_info h4{
  font-weight: 600;
  font-size: 16px;
  color: #1D7AF5;
}

.fees_card_holder .student_info {
  margin-bottom: 12px;
}

.fees_card_holder .fees_term_item{
  margin: 12px;
}

.fees_card_holder .fees_term_item ion-icon{
  font-size: 22px;
  margin-left: 8px;
}

.fees_card_holder .term_info h2{
  font-size: 16px;
  font-weight: 600;
}

.fees_card_holder .term_details{
  border: 1px solid;
  border-color: #1D7AF5;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
}

.ownschool-main{
  height:40px;
}
.ownschool {
  border:#1D7AF5 solid 2px;
  border-radius:8px;
  color:#1D7AF5;
  display: flex;
  justify-content: center;
  padding: 5px 0px 5px 0px;
}

.reg-req-cb {
    background-color: rgb(29, 122, 245);
    width: 95%;
    height: 40px;
    color: white;
    border-radius: 12px;
}

.g-fontweight-100 {
  font-weight: 100 !important;
}

.g-fontweight-200 {
  font-weight: 200 !important;
}
.g-fontweight-100 {
  font-weight: 300 !important;
}
.g-fontweight-400 {
  font-weight: 400 !important;
}
.g-fontweight-500 {
  font-weight: 500 !important;
}
/* semi bold */
.g-fontweight-600 { 
  font-weight: 600 !important;
}
/* bold */
.g-fontweight-700 {
  font-weight: 700 !important;
}
.g-fontsize-10 {
  font-size: 10px !important;
}
.g-fontsize-12 {
  font-size: 12px !important;
}
.g-fontsize-14 {
  font-size: 14px !important;
}
.g-fontsize-18 {
  font-size: 18px !important;
}

.g-fontsize-16 {
  font-size: 16px !important;
}

/* Assets */

.school-assets{
  height: calc(100% - 36px);
}

.main-ion-label{
  color: #1D7AF5 !important;
}


.school-assets ion-accordion-group {
  width: 90%;
  margin: auto;
  text-align: center;
}

.school-assets{
  animation: slideIn 0.8s forwards;
  height: calc(100% - 100px);
  overflow-y: auto;
}

.school-assets ion-accordion {
  border: 1px solid;
  border-color: #1D7AF5;
}

.school-assets ion-item {
  border-color: #1D7AF5;
  --padding-start: 8px;
  --inner-padding-end: 12px;
}

.school-assets ion-icon {
  color: #1D7AF5;
}

.border-none {
  border:none !important
}

.sub-type-parent{
  text-align: left;
  margin-left: 10%;
}

.sub-type{
  padding: 5px;
  border: 2px solid rgb(29, 122, 245);
  margin: 4px;
  display: inline-block;
  border-radius: 4px;
}

.school-assets-category{
  padding: 5px;
  background-color: rgb(29, 122, 245);
  border-radius: 10px;
}

.ml-6{
  margin-left: 6px;
}
.wibe-main-comment{
  width: 80vw;
  margin-left: 10vw;
  margin-top:5px;
}
.wibe-comment-reply-input{
  border:1px solid #1D7AF5;
  outline:none;
  border-radius: 12px;
  padding:5px;
  color: #1D7AF5;
  width:93vw;
  height:5vh;
}

.text-color-blue{
  color:#1D7AF5;
}
.likes-data-view{
  overflow: auto;
  height:50vh;
}

.m6{
  margin:6px;
}
.m3{
  margin:3px;
}
.ml10{
  margin-left: 10vw;
}
.ml3{
  margin-left:3px;
}
.wibe-profile{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 5px;
}
.text-dec-underline{
  text-decoration: underline !important;
}
.chat-heart-icons{
    height: 15px;
    width: 15px;
    color: #1D7AF5;
}